/* =========================
   Reset / Base
   ========================= */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* =========================
   Variables
   ========================= */

:root {
    --blanco: #fff;
    --azul: #578fca;
    --azul-medio: #2c2875;
    --azul-oscuro: #111144;
    --negro: #05021a;
    --color-texto: #e3f8ff;
    --fuente-principal: Arial, sans-serif;
}

/* =========================
   Estilos globales
   ========================= */

body {
    min-height: 100vh;
    font-family: var(--fuente-principal);
    background-color: var(--negro);
    color: var(--color-texto)
}

a {
    color: var(--color-texto);
}

nav{
    display: flex;                 
    justify-content: center;       
    gap: 5px;                   
    width: 100%;
    background-color: var(--azul-medio);
    padding: 10px;
}

nav a {
    display: flex;
    justify-content: center;
    flex:1;
    text-align: center;
    justify-content: center;
    padding: 10px 0;
    text-decoration: none;
    color: white;
    background-color: var(--azul-medio);
    border-radius:0px;
    transition: all 0.3s ease;
    font-size: 20px;
  }

  /* Hover y efecto visual solo con CSS */
  nav a:hover {
    background-color: var(--azul);
    transform: translateY(-2px);
    box-shadow: 0 4px 6px rgba(0,0,0,0.3);
  }

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 500px;
    margin: 50px auto;
    padding: 20px;
    background-color: var(--azul-medio);
    border-radius: 12px;
    border: 4px solid;
    border-color: var(--azul-oscuro);
    box-shadow: 0 4px 12px rgba(0, 195, 255, 0.1);
    font-family: Arial, sans-serif;
}

form hr {
    width: 100%;
    border: none;
    height: 2px;
    background-color: var(--color-texto);
    margin: 20px 0;
}

form button {
    padding: 10px 15px;
    border: 2px solid;
    border-color: var(--azul-oscuro);
    border-radius: 10px;
    background-color: var(--azul);
    background:
        linear-gradient(180deg,
            var(--azul-oscuro),
            var(--azul-medio));
    font-size: 16px;
    font-family: var(--fuente-principal);
    color: var(--color-texto);
    cursor: pointer;
    outline: none;
    box-shadow: none;
    -moz-appearance: none;
    appearance: none;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

form button:hover {
    background-color: var(--azul);
    color: var(--negro);
    border-color: var(--azul-oscuro);
}

form .botones {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
}